<div class="container">
  <div class="row">
    <% if @user.errors.any? %>
    <div id="error-explanation">
      <h2><%= @user.errors.count %> errors prohibited this post from being saved:</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="col-xs-3">
      <h2>会員情報</h2>
      <%= form_for(@user) do |f| %>
      <table class="table">

      <div class="field">
        <tr>
          <th><%= f.label :名前 %></th>
          <th><%= f.text_field :name %></th>
        </tr>
      </div>
      <div class="field">
        <tr>
          <th><%= f.label :アイコン画像 %></th>
          <th><%= f.attachment_field :profile_image %></th>
        </tr>
      </div>
      <div class="field">
        <tr>
          <th><%= f.label :自己紹介 %></th>
          <th><%= f.text_field :introduction %></th>
        </tr>
      </div>
      <div class="field">
        <tr>
          <th><%= f.label :メールアドレス %></th>
          <th><%= f.email_field :email %></th>
        </tr>
      </div>
      <div class="field">
        <tr>
          <th><%= f.label :電話番号 %></th>
          <th><%= f.text_field :phone_number %></th>
        </tr>
      </div>
      <tr>
          <th><%= f.submit "変更内容を保存する", class: "btn btn-primary" %></th>
          <th><%= link_to "退会する", users_withdrawal_path(current_user), class: "btn btn-danger" %></th>
      </tr>
    </table>
    <% end %>
    </div>
  </div>
</div>