<div class="container">
  <div class="row">
    <% if @post.errors.any? %>
    <div id="error-explanation">
      <h2><%= @post.errors.count %> errors prohibited this post from being saved:</h2>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>


    <div class="col-xs-9">
      <h2>Users</h2>
      <table class="table">
        <thead>
          <tr>
            <th>image</th>
            <th>name</th>
            <th></th>
            <th></th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
          <% unless current_user == user %>
          <tr>
            <td><%= attachment_image_tag user, :profile_image, :fill, 100, 100, class: "pull-left profile-thumb", fallback: "no_image.jpg" %></td>
            <td><%= user.name %></td>
            <td>
              <div id="follow_count<%= user.id %>">
              <%#= link_to follow_list_path(user) do %>
                <label>フォロー数: </label> <%= user.follow.count %>
              <%# end %>
              </div>
            </td>
            <td>
              <div id="follower_count<%= user.id %>">
              <%#= link_to follower_list_path(user) do %>
                <label>フォロワー数: </label> <%= user.follower.count %>
              <%# end %>
              </div>
            </td>
            <td>
              <% unless current_user == user %>
              <div id="follow_form<%= user.id %>">
              <% if current_user.following?(user) %>
                <%= form_for(current_user.relationships.find_by(follow_id: user.id), html: { method: :delete }) do |f| %>
                  <%= hidden_field_tag :follow_id, user.id %>
                  <%= f.submit 'フォローを外す', class: 'btn btn-danger btn-block' %>
                <% end %>
              <% else %>
                <%= form_for(current_user.relationships.build) do |f| %>
                  <%= hidden_field_tag :follow_id, user.id %>
                  <%= f.submit 'フォローする', class: 'btn btn-primary btn-block' %>
                <% end %>
              <% end %>
              </div>
              <% end %>
            </td>
            <td><a><%= link_to 'Show', user %></a></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
    <%= render 'posts/link', post: Post.new, user: @user %>
  </div>
</div>