<div class="col-xs-3">
  <h2>会員情報</h2>
    <div class="profile-container">

    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, class: "pull-left profile-thumb", fallback: "no_image.jpg" %>
    <table class="table">
      <tr>
      	<th><p>ニックネーム</p></th>
        <th><p><%= user.name %></p></th>
      </tr>
      <tr>
        <th><p>自己紹介</p></th>
        <th><p><%= user.introduction %></p></th>
      </tr>
      <tr>
        <th>
          <div>
            <%= link_to follow_list_path(user) do %>
              <label>フォロー数: </label> <%= user.follow_count(user).count %>
            <% end %>
          </div>
        </th>
      </tr>
      <tr>
        <th>
          <div>
            <%= link_to follower_list_path(user) do %>
              <label>フォロワー数: </label> <%= user.follower_count(user).count %>
            <% end %>
          </div>
        </th>
      </tr>
      <tr>
        <th>
          <div>
            <%= link_to favorite_list_path(user) do %>
              <label>いいね: </label> <%= user.favorites.count %>
            <% end %>
          </div>
        </th>
      </tr>
    </table>
    <div class="row">
      <% if user.id == current_user.id %>
      <%= link_to edit_user_path(user) do %>
      <span class="glyphicon glyphicon-wrench col-xs-12 btn btn-default">会員情報編集</span>
      <% end %>
      <% else %>
          <% unless current_user == user %>
            <div>
              <% if current_user.following?(user) %>
                <%= form_for(current_user.active_relationships.find_by(follower_id: user.id), html: { method: :delete }) do |f| %>
                  <%= hidden_field_tag :follow_id, user.id %>
                  <%= f.submit 'フォローを外す', class: 'btn btn-danger btn-block' %>
                <% end %>
              <% else %>
                <%= form_for(current_user.active_relationships.build) do |f| %>
                  <%= hidden_field_tag :follow_id, user.id %>
                  <%= f.submit 'フォローする', class: 'btn btn-primary btn-block' %>
                <% end %>
              <% end %>
              </div>
          <% end %>
      <% end %>
    </div>
  </div>

  <h2>新規投稿</h2>

  <%= form_for(post) do |f| %>
  <% if post.errors.any? %>
  <div id="error-explanation">
    <h2><%= post.errors.count %> errors prohibited this post from being saved:</h2>
    <ul>
      <% post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field row">
    <div class="field">
      <%= f.label :コメント %>(200文字まで)<br>
      <%= f.text_field :main_comment, class: "main_comment col-xs-12" %>
    </div>
    <div class="field">
      <%= f.label :鳥関連画像 %>(１枚のみ)<br>
      <%= f.attachment_field :post_image, class: "main_comment col-xs-12" %>
    </div>
    <div class="field">
      <%= f.label :タグ %>(,を打つと複数登録できます)<br>
      <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: "main_comment col-xs-12" %>
    </div>
    <div class="field">
      <%= f.select(:tag_list, [["鳥自慢","鳥自慢"], ["おすすめの餌","おすすめの餌"], ["おすすめグッズ","おすすめグッズ"], ["迷い鳥情報","迷い鳥情報"]], :prompt => "選択してください" )%>
    </div>
    <div class="actions">
      <%= f.submit "投稿", :class=>"col-xs-12 btn btn-primary"%>
    </div>
  </div>
  <% end %>
  </div>