<div class="container">
  <div class="row">

    <% if flash[:notice] %>
    <div>
      <p class="flash"><%= flash[:notice] %></p>
    </div>
    <% end %>

    <div class="col-xs-9">
      <h2>投稿詳細</h2>
      <div class="blog-box-content">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>投稿者名</th>
              <th>投稿内容</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@post.user.id) do %>
                <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, class: "pull-left profile-thumb", fallback: "no_image.jpg" %>
                <% end %>
              </td>
              <td>
                <%= @user.name %>
              </td>
              <td>
               <p class="comment">
                 <%= link_to post_path(@post) do %>
                 <%= @post.main_comment %>
                 <% end %>
               </p>
             </td>

              <td id="favorite-<%= @post.id %>">
                <%= render partial: "favorite", locals: { post: @post } %>
              </td>
              <td>
                <%= render 'posts/tag_list', tag_list: @post.tag_list %>
              </td>
              <% if @post.user.id == current_user.id %>
              <td><%= link_to 'コメント削除', post_path(@post), method: :delete, class:"btn btn-danger", data: { confirm: '本当に消しますか？' } %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
        <div>
              <p class="image", style="text-align:center;">
                <%= attachment_image_tag @post, :post_image, :fill, 500, 500, class: "profile-thumb" %>
              </p>
        </div>
        <div>
          <table class="table">
          <thead>
            <tr>
              <td></td>
              <td>コメント者名</td>
              <td>コメント</td>
              <td></td>
              </tr>
          </thead>

          <tbody id="comment-<%= @post.id %>">
          <% @post.post_comments.each do |post_comment| %>
          <%= render partial: 'comment_list', locals: { post_comment: post_comment } %>
          <% end %>
          </tbody>
        </table>

        </div>
        <div>
        <% if user_signed_in? %>
        <%= render partial: 'comment', locals: { post: @post, post_comment: @post_comment } %>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'posts/link', post: Post.new, user: @user %>
</div>
</div>

<style>
  .image
  {
    height: 100%;
    width: 100%;
  }
  .comment
  {
    height: 100%;
    width: 250px;
  }
</style>