<div class="container">
  <div class="row">

    <% if flash[:notice] %>
    <div>
      <p class="flash"><%= flash[:notice] %></p>
    </div>
    <% end %>

    <div class="col-xs-9">
      <h2>投稿詳細</h2>
      <div class="blog-box-content">
        <table class="table">
          <thead>
            <tr></tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= link_to user_path(@post.user.id) do %>
                <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, class: "pull-left profile-thumb", fallback: "no_image.jpg" %>
                <br>
                <%= @user.name %>

                <% end %>
              </td>
              <td>
               <p class="main_comment">
                 <%= link_to post_path(@post) do %>
                 <%= @post.main_comment %>
                 <% end %>
               </p>
             </td>
             <td>
              <p class="opinion">
                <%= attachment_image_tag @post, :post_image, :fill, 100, 100, class: "pull-left profile-thumb" %>
              </p>
              <td id="favorite-<%= @post.id %>">
                <% if @post.favorited_by?(current_user) %>
                <div>
                  <%= link_to post_favorites_path(@post), method: :delete, remote: true do %>
                  <i class="glyphicon glyphicon-heart" style="color: red;"></i>
                  <%= @post.favorites.count %>
                  <% end %>
                </div>
                <% else %>
                <div>
                  <%= link_to post_favorites_path(@post), method: :post, remote: true do %>
                  <i class="glyphicon glyphicon-heart-empty"></i>
                  <%= @post.favorites.count %>
                  <% end %>
                </div>
                <% end %>
              </td>
              </td>
              <td>
              <div>
                <a>コメント数: <%= @post.post_comments.count %></a>
              </div>
              </td>
              <% if @post.user.id == current_user.id %>
              <td><%= link_to 'Destroy', post_path(@post), method: :delete, class:"btn btn-danger", data: { confirm: '本当に消しますか？' } %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
        <div>
          <table class="table">
          <thead>
            <tr>
              <td></td>
              <td>Name</td>
              <td>Comment</td>
              <td></td>
              </tr>
          </thead>

          <tbody id="comment-<%= @post.id %>">
          <% @post.post_comments.each do |post_comment| %>
          <tr id="comment_<%= post_comment.id %>">
            <td class="comment-avatar">
              <div class="avatar">
                <%= attachment_image_tag post_comment.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
              </div>
              <% if post_comment.user_id == current_user.id %>
              <div><%= link_to "コメント削除", post_post_comments_path(post_comment.post_id, id: post_comment.id), method: :delete, class:"btn btn-danger", data: { confirm: '本当に消しますか？' } %></div>
              <% end %>
            </td>
            <td class="comment-text">
              <div class="comment-author clearfix">
                <a class="link-author"><%= post_comment.user.name %></a>
              </div>
              <td class="comment-entry"><%= post_comment.comment %></td>
            </td>
          </tr>
          <% end %>
          </tbody>
        </table>

        </div>
        <div>
        <% if user_signed_in? %>
      <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
        <%= form_with model: [@post, @post_comment], remote: true do |f| %>
        <div class="row">
          <div class="col-sm-12">
            <%= f.text_area :comment, class: "form-control" %>
          </div>
        </div>
        <div>
          <%= f.submit "送信する", class: "btn btn-default pull-right" %>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= render 'posts/link', post: Post.new, user: @user %>
</div>
</div>